* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #ccc;
}
h1 {
  font-size: 4rem;
  text-align: center;
  /* margin: 2vh 0; */
}
#btn {
  margin: 2vh 0;
  padding: 15px;
  border-radius: 10px;
  color: gold;
  background-color: black;
}
.container {
  width: 550px;
  height: 60vh;
  border: 3px solid black;
  display: grid;
  grid-row: 3;
  grid-column: 3;
}
.items {
  border: 1px solid black;
}
@media (max-width: 560px) {
  .container {
    width: 100%;
  }
}
